.field{
    width: 100px;
    height: 125px;
    background-color: white; 
    font-size: 550%; 
    border: none; 
    border-right: 2px black solid;
    margin-top: -2.5;
    float: left;
}
#grid{
    margin-left: 30%;
    margin-top: 50px;
    float: left;
}