body
{
  margin: 0%;
}
header    
{
    background-color: rgb(120, 0, 46);
    height: auto;
    width: 100%;
    font-size: 150%;
    padding: 5px;
    text-align: center;
    color: white;
}
menu
{
  background-color: rgb(173, 20, 83);  
  height:auto;
  width: 100%;
  margin-top: auto;
  padding: 10px;
  text-align: left;
  margin-bottom: auto;
}
#leftDiv h1
{
text-align: center;
}
#leftDiv
{
background-color: snow;
color: olivedrab;
height: 322px;
width: 60%;
text-align: left;
float: left;
margin-top: auto;
}
#rightDiv
{
height: 322px;
width: 40%;
float: left;
background-color: rgb(173, 20, 83); 
}
table
{
border: 1px solid;
width: 90%;
text-align: center;
}
td
{
border: 1px solid;
} 
a 
{
color: greenyellow;
margin:0px;
padding:50px;
}
#Samochod
{
padding: 40px;
margin: 10px;
}
#Samochod:hover
{
  border:1px dotted yellowgreen;
}
footer
{
    background-color: rgb(120, 0, 46);
    height: auto;
    width: 100%;
    padding: 5px;
    font-size: 150%;
    text-align: center;
    color: white;
}