body{
    display: inline-block;
    font-family: Helvetica sans-serif;
    background-color: linen;
    color: #222;
    margin: auto;
    width: 90%;
}
#pierwszyBaner{
    background-color: black;
    color: white;
    width: 50%;
    height: 100px;
    float: left;
}
#drugiBaner{
    float: right;
    background-color: black;
    color: white;
    width: 50%;
    height: 100px;
}
#glowny{
    padding: 20px;
}
#stopka{
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}
table{
    margin: 40px;
    
}
td{
    padding: 30px;
    text-align: center;
    font-weight: bold;
}
a{
    color: #aaa;
    text-decoration: none;
}
a:hover{
    color: white;
}
ul li{
    padding: 5px;
    margin: 10px;
    list-style-type: none;
    border-bottom-style: solid;
    color: white;
}
li{
    float: left;
}